<div id="header-interior">
	<div id="headerlogo">
		<a href="https://www.mun.ca/" title="https://www.mun.ca">https://www.mun.ca</a>
	</div>

	<div id="headernav2">
		<div id="navTab01" onclick="location.href='https://my.mun.ca';" style="cursor:pointer;" title="My.Mun.ca">
      My.Mun.ca
		</div>

		<div id="navTab02" onclick="location.href='https://delts.mun.ca';" style="cursor:pointer;" title="Distance Education">
      Distance Education
		</div>

		<div id="navTab03" onclick="location.href='https://www.mun.ca/regoff/stuweb.htm';" style="cursor:pointer;" title="Self Service">
      Self Service
		</div>

		<div id="navTab04" onclick="location.href='https://www.library.mun.ca';" style="cursor:pointer;" title="Libraries">
      Libraries
		</div>

		<div id="navTab05" onclick="location.href='https://www.munalum.ca/giving/';" style="cursor:pointer;" title="Donate">
      Donate
		</div>

		<div id="multisearch"></div>

		<form action="https://www.mun.ca/include/multisearch.php" method="get" id="multisearch_form">
			<input type="text" id="searchtext" name="searchtext"></input>
			<input type="hidden" id="searchtype" name="searchtype" value="0"></input>
			<div id="pseudosearchtext">
				<span id="pseudosearchtextinner"></span>
			</div>
		</form>
	</div>

	<div id="header_title_text">
		<a href="https://www.engr.mun.ca/">
			Faculty of Engineering and Applied Science
		</a>
	</div>
</div>
